<h1>New user</h1>

<%= render "formlocation", location: @location %>


<br>

<div class="container">
  <div class="media d-flex flex-row align-self-start">
    <div class = "class="p-2"">
      <img class="align-self-start" style="width: 20px; length: 25px;" src="https://cdn-icons-png.flaticon.com/512/0/340.png" alt="404">
    </div>
    <div class="media-body class="p-2">
      <h5 class="align-self-start img-fluid"><%= link_to "Back to locations", locations_path %></h5>
      <p></p>
  
    </div>
  </div>
</div>